<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="currentGame">{{convertFirebaseTimestampToDate(currentGame?.timestamp) | date :"medium"}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="!this.isLoading">
    <ion-item *ngFor="let team of currentTeams" [color]="team.color" style="margin: 10px;">
      <h1 style="height: 3.5rem;">{{ team.name }}</h1>
      <br>
      <hr>
      <div id="controls">
        <ion-icon style="margin: 0 20px; float: left" name="remove-circle" (click)="decrementTeamScore(team)"></ion-icon>
        <span>{{ team.score | number:'1.0' : 'en-us' }}</span>
        <ion-icon style="margin: 0 20px; float: right;" name="add-circle" (click)="incrementTeamScore(team)"></ion-icon>
      </div>
    </ion-item>
</ion-content>
