<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="currentGame">{{convertFirebaseTimestampToDate(currentGame?.timestamp) | date :"medium"}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="!this.isLoading">
    <ion-item *ngFor="let team of currentTeams" [color]="team.color" style="margin: 10px; align-items: center">
      <h3 id="teamHeading" style="height: 3.5rem;">{{ team.name }}</h3>
      <ion-buttons  slot="end">
        <ion-button><ion-icon style="margin: 0 20px;" name="remove-circle" (click)="decrementTeamScore(team)"></ion-icon></ion-button>
        <p style="display: inline">{{ team.score | number:'1.0' : 'en-us' }}</p>
        <ion-button><ion-icon style="margin: 0 20px;" name="add-circle" (click)="incrementTeamScore(team)"></ion-icon></ion-button>
      </ion-buttons>
    </ion-item>
</ion-content>
